{:port #profile {:default 8080
                 :test 8081}
 :db #profile {:default
               {:dbtype "postgresql"
                :dbname #env DB_NAME
                :host #env DB_HOST
                :port #long #env DB_PORT
                :username #env DB_USERNAME
                :password #env DB_PASSWORD}
               :test
               {:dbtype "postgresql"
                :dbname "challenge_test"
                :host "localhost"
                :port 5432
                :username "postgres"
                :password "postgres"}}}
