/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/

# Editor
.clj-kondo/
.lsp/
.calva/

node_modules/
resources/public/assets/
.shadow-cljs/

# Secrets
.secrets
.env
