{:lein true
 :source-paths ["src/"]

 :dev-http
 {3000 "resources/public"}

 :builds
 {:frontend
  {:target :browser
   :output-dir "resources/public/assets/js/compiled"
   :asset-path "/js/compiled"
   :modules
   {:main {:init-fn challenge.frontend.core/init}}
   :devtools
   {:preloads [day8.re-frame-10x.preload]}
   :dev
   {:compiler-options
    {:closure-defines
     {re-frame.trace.trace-enabled? true
      day8.re-frame.tracing.trace-enabled? true}}}
   :build-hooks [(challenge.frontend.build/load-config)]
   :release
   {:build-options
    {:ns-aliases
     {day8.re-frame.tracing day8.re-frame.tracing-stubs}}}}}}
